# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import pickle
import json

>---

# Loading Files Needed

In [2]:
with open('model_infer.pkl', 'rb') as file_1:
    model_infer = pickle.load(file_1)

with open('scaler_infer.pkl', 'rb') as file_2:
    scaler_infer = pickle.load(file_2)

with open('cat_selector_infer.pkl', 'rb') as file_5:
    cat_selector_infer = pickle.load(file_5)

with open('num_selector_infer.pkl', 'rb') as file_5:
    num_selector_infer = pickle.load(file_5)

with open('num_cols_list_infer.txt', 'r') as file_6:
    num_cols_list_infer = json.load(file_6)

with open('cat_cols_list_infer.txt', 'r') as file_6:
    cat_cols_list_infer = json.load(file_6)

>---

# Making New Data to Infer

In [3]:
data_infer = pd.DataFrame({'limit_balance':[200000, 200000, 200000, 100000, 100000],
             'sex':[0,0,0,0,0],
             'education_level':[9,9,9,9,9],
             'marital_status':[3,3,3,3,3],
             'age':[29,29,29,29,29],
             'pay_0':[1,1,9,-1,6],
             'pay_2':[1,1,1,1,1],
             'pay_3':[1,1,1,1,1],
             'pay_4':[1,1,1,1,1],
             'pay_5':[1,1,1,1,1],
             'pay_6':[1,1,1,1,1],
             'bill_amt_1':[100000,0,0,0,0],
             'bill_amt_2':[20000,20000,20000,20000,20000],
             'bill_amt_3':[20000,20000,20000,20000,20000],
             'bill_amt_4':[20000,20000,20000,20000,20000],
             'bill_amt_5':[20000,20000,20000,20000,20000],
             'bill_amt_6':[20000,20000,20000,20000,20000],
             'pay_amt_1':[0,20000,20000,20000,20000],
             'pay_amt_2':[0,20000,20000,20000,20000],
             'pay_amt_3':[0,20000,20000,20000,20000],
             'pay_amt_4':[0,20000,20000,20000,20000],
             'pay_amt_5':[0,20000,20000,20000,20000],
             'pay_amt_6':[0,20000,20000,20000,20000]})

## Numerical Columns of data_infer

In [4]:
num_cols_infer = data_infer[num_cols_list_infer]
num_cols_infer

,limit_balance,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,200000,0,0,0,0,0,0
1,200000,20000,20000,20000,20000,20000,20000
2,200000,20000,20000,20000,20000,20000,20000
3,100000,20000,20000,20000,20000,20000,20000
4,100000,20000,20000,20000,20000,20000,20000

## categorical Columns of data_infer

In [5]:
cat_cols_infer = data_infer[cat_cols_list_infer]
cat_cols_infer

   pay_0
0      1
1      1
2      9
3     -1
4      6

>---

# Preparing Numerical Columns

## Scaling Numerical Columns Selected

In [6]:
num_cols_infer_scaled = scaler_infer.transform(num_cols_infer)

In [7]:
num_cols_infer_scaled = pd.DataFrame(num_cols_infer_scaled)

In [8]:
num_cols_infer_scaled

          0         1         2         3         4         5         6
0  0.288993 -0.294292 -0.200364 -0.360962 -0.349019 -0.321058 -0.304754
1  0.288993  0.637245  0.431223  1.040993  1.226852  1.084470  0.827773
2  0.288993  0.637245  0.431223  1.040993  1.226852  1.084470  0.827773
3 -0.507662  0.637245  0.431223  1.040993  1.226852  1.084470  0.827773
4 -0.507662  0.637245  0.431223  1.040993  1.226852  1.084470  0.827773

>---

# Merge Categorical Columns Encoded and Numerical Columns Scaled

In [9]:
data_infer_concat = np.concatenate((num_cols_infer_scaled,cat_cols_infer), axis=1)

>---

# Predict The New Data

In [10]:
model_infer.predict(data_infer_concat)

array([1, 0, 1, 0, 1], dtype=int64)